<select class="presetListSelect"></select>
<button class="btn btn-primary btnPresetLoad">Load preset</button>
<button class="btn btn-primary btnPresetDelete">Delete preset</button>
<button class="btn btn-primary btnPresetSave">Save current view as preset</button>
<div class="pivotArea">
</div>